:root{

    --darkColor:#00353f;
    --lightColor:#F8FBF1;
    --mediumColor:#D9D9D9;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.history, .team, .testimonials, .contact{
    position: relative;
    height: 30em;
    width: auto;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.history img, .team img, .testimonials img, .contact img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    /* overflow:hidden; */
}

/*
.button{
    display: flex;
    justify-content: center;
}

/*.homeButton{
    background-color: #fff;
    border:none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1em;
    width: 7rem;
    height:4rem;
    z-index:2;
    align-items: center;
    text-transform: uppercase;
}*/

.history h1, .team h1, .testimonials h1, .contact h1{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5.5em;
    width: 100%;  
    z-index:2;
    color:white;
    font-size: 1.5rem;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black,0 0 2px black,0 0 2px black, 0 0 2px black,0 0 2px black, 0 0 2px black,0 0 2px black,0 0 2px black, 0 0 2px black;
}

.baliseIndicator{
    display: flex;
    width: 100%;
    justify-content: center;
}
.indicator{
    position: absolute;
    bottom: 2.8em;
    margin-top: 22%;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    z-index:2;
}

.indicator span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    animation: animate 1s linear infinite;
}

.indicator span:nth-child(1){
    top: -30px;
    left: -30px;
    animation-delay: 1s;
}

.indicator span:nth-child(2){
    top: -15px;
    left: -15px;
    animation-delay: 1.2s;
}

.indicator span:nth-child(3){
    top: 0px;
    left: 0px;
    animation-delay: 1.4s;
}

@keyframes animate {
    0%
    {
        border-color: #fff;
    }
    20%
    {
        border-color: #00353F;
    }
    20.1%, 100%
    {
        border-color: #00353F;
    }
}

footer{
    background-color: #00353F;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;

}

footer img{
    margin:0.5em 1em 0.5em 1em;
    width: 2em;
}

footer p{
    display:inline-block ;
}

.footerContact{
   color:white;
   display: flex;
   align-items: center; 
}







body{
    position: relative;
}

#popup {
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 30vw;
    top: 15vh;
    background-color: var(--darkColor);

    animation: transformation 1s;
    animation-fill-mode: forwards;
    border: 40px ridge rgb(218, 195, 158);
    z-index: 7;    

}

@keyframes transformation {
    0%{
    transform: scale(0.1);
    }
    100%{
      transform:scale(1);
    }
  }

  #buttonPopup {
    position: absolute;
    top: 30vw;
    left: 28vw;
    width: 80px;
    height: 60px;
    clip-path: polygon(0% 42%, 61% 42%, 39% 10%, 100% 52%, 40% 100%, 60% 65%, 0% 65%);
    cursor: pointer;
    
    background:linear-gradient(90deg, rgba(255,255,255,1) 4%, rgba(5,40,79,1) 37%, rgba(255,255,255,1) 39%, rgba(5,40,79,1) 41%, rgba(255,255,255,1) 88%);

    background-clip:content-box;
    /*add this line, it defines how far the background should extend within an element, here we set it to text */

    -webkit-background-clip: content-box;
    /* add this line, for browsers compatibility */

    -webkit-text-fill-color: transparent;
    /* specifies the fill color of text characters. We use transparent to use the background value as our text fill */

    animation: wave 15s  alternate ease infinite;
    /* add this line */
    transition: all ease 0.5s ;
    /* add this line */
    }

  


@keyframes wave {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: 35vw 5vh;
 }
}










  #buttonPopup:hover {
    background-color:  rgb(218, 195, 158) ;
  }

  #popup p {
    color: var(--lightColor);
    font-style: italic;
    font-size: 1.7rem;
    text-align: center;
    
  }

  #popup1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }


 #popup #rejoindre {
    text-align: left;
    margin-top: 4vw;
    margin-left: 14vw;
  }

  #popup div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3vw;
  }

  #fee {
    height: 12vw;
    border-radius: 1vw;
  }

  #logopopup {
    height: 6vw;
  }