
:root{
    --heightInput:2rem;
    --widthInput: 32vw;
    --widthContainer:80vw;
    --fontSizeInput:.8rem;
}


form {
    width: var(--widthContainer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: calc(var(--widthContainer) / 20);
    padding: calc(var(--heightInput)/2);
}

#choix-options {
width: calc(var(--widthContainer) - 5vw);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
border-radius: calc(var(--heightInput) / 4);
margin-bottom: var(--heightInput);
}

#coordonnees {
    width: calc(var(--widthContainer) - 5vw); 
    border-radius: calc(var(--heightInput) / 4);
    margin-bottom: calc(var(--heightInput) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

legend {
    font-size: calc(var(--fontSizeInput) * 1.3);
    border: 1px solid gray;
    border-radius: calc(var(--heightInput) / 4);
    padding: calc(var(--fontSizeInput) / 3) var(--fontSizeInput);
}

input , #pays {
    width: var(--widthInput);
    height: var(--heightInput);
    border-radius: calc(var(--heightInput) / 4);
    margin-top: calc(var(--heightInput) /4);
    margin-bottom: calc(var(--heightInput) /4);
    font-size: var(--fontSizeInput);
    text-align: left;
    padding-left: .5rem;
}

 #option {
    width: calc(var(--widthInput) * 1.5);
    height: var(--heightInput);
    border-radius: calc(var(--heightInput) / 4);
    margin-top: calc(var(--heightInput) /4);
    margin-bottom: calc(var(--heightInput) /4);
    font-size: var(--fontSizeInput);
    text-align: center;
}

#nom-prenom , #code-ville , #tel-pays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

#email {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* input[type="tel"] {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
} */

#adresse {
    width: 95%;
    margin-left: auto;
    margin-right: auto; 
}

textarea {
    width: 100%;
    height: 8rem;
    margin-bottom: calc(var(--heightInput) /3);
    border-radius: calc(var(--heightInput) / 4);
}

#check-autorisation{
    width: 0.8rem;
    margin-right: 1rem;
}

label {
    text-align: justify;
}

#check-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

#envoyer {
    min-width: 140px;
    text-align: center;
    
}


#localite {
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: var(--heightInput);
    margin-top: var(--heightInput);
    width: var(--widthContainer);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

#ladresseLabo {
    width: calc(var(--widthContainer) / 2);
    text-align: center;
    border: 1px solid green;
    /* display: inline-block; */
}



iframe {
   
    width: calc(var(--widthContainer) / 2.5);
    height: calc(var(--widthContainer) / 2.5);
    border-radius: calc(var(--heightInput) / 4);
    min-width: 250px;
    min-height: 250px;
}

#localite p {
    font-size: 1.1rem;
    text-align: center;
}



@media screen and (min-width:600px) {
    #localite {
      
        flex-direction: row;
        gap: 25px;
    } 
}