*{
    margin : 0;
    padding : 0;
  }
:root{
    --mediumColor:#ffbf664a;
  }
body{
    background: #F8FBF1;
}
.debutImage img{
    display: block;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-height: 400px;
    
}
p{
    font-size:1.4rem ;
    text-align: justify;
}
.fondateur{
    display:flex;
    flex-direction: row;
    /*margin-top: 4rem;
    margin-bottom: 4rem;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 10px;
    gap: 3vw;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    vertical-align: top; 
    width: 90vw;
    background-color:var(--mediumColor);

}
.fondateur p{
    width: 70vw;
    padding: 10px;
    padding-right: 20px;
}

.fondateur img{
   
    display:inline-block;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius:7px;
    padding-left: 20px;

}
h1{
    margin-bottom: 2rem;
    margin-left: 5rem;
    padding-top: 20px;

}
h2{
    display: flex;
    border: none;
    border-radius: 10px;
    padding: 20px;
    height: 140px;
    width: 10vw;
    font-size: 3rem;
    align-items:center;
    justify-content: center;
    color: #fff;
    background-color: #00353F;
}
.année{
    display: flex;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 3vw;
    max-width: 80vw;
    height: 150px;
    
}
#left{
    flex-direction: row;
    justify-content: left;

}
#right{
    flex-direction: row-reverse;
    justify-content: right;
}
.année p{
    max-width: 80vw;
   }

/*footer*/

footer{
    background-color: #00353F;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;

}

footer img{
    margin:0.5em 1em 0.5em 1em;
    width: 10%;
}

footer p{
    display:inline-block ;
}

.footerContact{
   color:white;
   display: flex;
   align-items: center;
   font-size: 100%; 
}
