:root {/* Variable que l'on utilisera sur toute la page */
    --darkColor:#00334A;
    --lightColor:#F8FBF1;
    --mainColor : #00353F;
    --borderRadiusMain : 12px;
    --colorDocRight : #bc622e54;
    --colorDocLeft : #ffbf664f;
}

main {  /* Determine les paramètres valables sur toute la page */
    background-color: var(--lightColor);
    font-size: 1rem;
}

/* Mise en forme des titres */

h1 {    /* Mise en forme du h1 */
    color : var(--lightColor);
    padding: 50px;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadiusMain);
    margin: 20px;
    font-size: 1.8rem;
}

.container-right {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.container-left {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.h2right {    /* Mise en forme des h2 des docteurs à droite */
    /* display: block; */
    /* flex-direction: row-reverse; */
    text-align: right;
    padding : 10px 25px 10px 0px;
    color: var(--mainColor);
    font-size: 1.4rem;
}

.h2left { /* Mise en forme des h2 des docteurs à gauche */
    display: flex;
    flex-direction: row;
    padding : 10px 0px 10px 25px;
    color: var(--mainColor);
}

.docteur {
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    /* margin: 10px; */
    width: 60vw;
    border-radius: var(--borderRadiusMain);
    gap: 20px;
}

.left {
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--colorDocLeft);
}

.right {
    flex-direction: row-reverse;
    background-color: var(--colorDocRight);
    justify-content: flex-end;
}

.docteur img {
    width: 200px;
    height: auto;
    border-radius: var(--borderRadiusMain);
}

.docteur p {
    /* display: flex;
    justify-content: left; */
    text-align: justify;
    width: 75vw;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .container-right {
        width: 90vw;
    }
    
    .container-left {
        width: 90vw;
    }

    .docteur img {
        width: 150px;
        height: auto;
        border-radius: var(--borderRadiusMain);
    }
    
    .docteur p {
        width: 75vw;
    }

    .docteur {
        width: 75vw;
    }
}

@media screen and (max-width: 600px) {
    .docteur {
        flex-direction: column;
    }

    .docteur p {
        font-size: 1rem;
    }

    h1 {    /* Mise en forme du h1 */
        font-size: 1.6rem;
    }

    .h2right {    /* Mise en forme des h2 des docteurs à droite */
        font-size: 1.3rem;
    }

    .h2left {    /* Mise en forme des h2 des docteurs à droite */
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 400px) {
    .docteur {
        flex-direction: column;
    }

    .docteur p {
        font-size: 1.15rem;
    }

    .container-right {
        align-items: center;
    }
    
    .container-left {
        align-items: center;
    }
}