.slider {
  height: 400px;
  width: 400px;
  position: relative;
}

.slider_nav {
  position: absolute;
}

.slider_nav_button {
  background-color: transparent;
   border: none;
}

/*.slider_nav_button--next {
    transform: translatex(+280%);
}

.slider_nav_button--prev {
  position : absolute;
  left: 20px;
  top: 100%;
  transform: translateY(-50%);
}*/

.slider_nav_button svg {
  height: 70px;
  width: 70px;
  /*transform: translateY(+240%);*/
}

.slider_nav_button svg path{
  stroke: white;
}

.slider_content {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  }

.slider_content_item {
  height: 100%;
  min-width: 100%;
}

.slider_content_item img {
  height: 100%;
  width: 100%;
}
