@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------------------------footer------------------------*/

footer {
  background-color: #00353f;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  margin-top: 2em;
}

footer img {
  margin: 0.5em 1em 0.5em 1em;
  width: 10%;
}

footer p {
  display: inline-block;
}

.footerContact {
  color: white;
  display: flex;
  align-items: center;
  font-size: 100%;
}

@media screen and (max-width: 900px) {
  .footerContact:first-child {
    justify-content: center;
  }

  footer img {
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 10%;
  }
}

/*--------------------- JS Navbar ----------------------------*/
#logo {
  margin-left: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #00353f;
  font-size: 20px;
}

.navbar a {
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.navbar .nav-links ul {
  display: flex;
  margin-right: 1.5rem;
}

.navbar .nav-links ul li {
  margin: 0 27px;
  list-style: none;
}

.navbar a:hover {
  color: #e5bc1a;
}
a.active {
  background: red;
}
.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 35px;
  right: 30px;
  width: 35px;
  z-index: 10;
}

/*------------------- Js testimony-----------------------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  height: 400px;
  width: 400px;
  position: relative;
  /* changement ici*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider_nav {
  position: absolute;
  /* changement ici */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slider_nav_button {
  background-color: transparent;
  border: none;
}

.slider_nav_button--next {
  transform: translateX(+19em);
}

/*.slider_nav_button--prev {
  position : absolute;
  left: 20px;
  top: 100%;
  transform: translateY(-50%);
}*/

.slider_nav_button svg {
  height: 70px;
  width: 70px;
  /*transform: translateY(+240%);*/
}

.slider_nav_button svg path {
  stroke: white;
}

.slider_content {
  height: 100%;
  width: 100%;
  border-radius: 10;
  display: flex;
  margin-top: 1em;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider_content_item {
  height: 100%;
  min-width: 100%;
}

.slider_content_item img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  /*box-shadow:
  2.3px 2.3px 1.9px rgba(0, 0, 0, 0.15),
  6.4px 6.3px 5.3px rgba(0, 0, 0, 0.211),
  15.4px 15.1px 12.7px rgba(0, 0, 0, 0.261),
  51px 50px 42px rgba(0, 0, 0, 0.39)
;*/
}
